{% extends 'quiz/base.html' %}

{% block content %}
    <center>
        <h1>Add Quiz</h1>
        <br/><br/>

        {% if added %}
            <h3>You Successfully Added A new Quiz Question</h3>
            <h3>Thank you for making us better one question at a time!</h3>
        {% else %}

        <form action="" method="post">
            {% csrf_token %}
            {{ question_form.as_p }}

            {{ option_formset.management_form }}
            {% for form in option_formset %}
                {{ form.as_p }}
            {% endfor %}

            <input type="submit" class="btn btn-primary" value="Add Quiz Question">
        </form>

        {% endif %}
    </center>

{% endblock %}
