<style>
    .quiz-container {
    border: 1px solid #0d6efd; /* Border thickness and color */
    box-sizing: border-box; /* Ensures padding and border are included in the width and height */
    width: 100%; /* Spans the full width of the container */
    border-radius: 5px; /* Rounds the corners of the border */
}
</style>
{% extends 'quiz/base.html' %}

{% block content %}
<center>
<h1>Quiz App coming right up</h1>
<p> {{ daysDeveloped }} {{ days }} in development without incidence.</p>
</center>
{% for quiz in quiz_list %}
<div class="container-sm quiz-container">
    <h2>{{ quiz.question }}</h2>

    <ul>
        {% for option in quiz.options.all %}
        <li>{{ option.option_text }}</li>
        {% endfor %}

    </ul>

</div>
{% endfor %}
{% endblock %}
