{% load static %}
{% block content %}
<center>
<h1>Interactive Quiz</h1>
<br/>
</center>
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'pic_quiz.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Start the quiz</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{% url 'start-quiz' %}" class="btn btn-outline-primary">Start Quiz</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'question_mark.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Add Quiz</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{% url 'add-quiz' %}" class="btn btn-outline-primary">Add Quiz</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
