<style>
    .quiz-container {
    border: 1px solid #0d6efd; /* Border thickness and color */
    box-sizing: border-box; /* Ensures padding and border are included in the width and height */
    width: 100%; /* Spans the full width of the container */
    border-radius: 5px; /* Rounds the corners of the border */
}
</style>
<div class="container-sm quiz-container">
    <h2>{{ quiz.question }}</h2>

    <ul>
        {% for option in quiz.options.all %}
            <input type="radio" id="{{ option.id }}" name="option_{{ quiz.id }}" value="{{ option.id }}">
            <label for="{{ option.id }}">{{ option.option_text }}</label><br>
        {% endfor %}
    </ul>

</div>
<br/>
